<h1>Welcome, <%=@user.username.upcase%> to Your Handstand Workout Tracker</h1>

<h3><a href="/show">Show your upcoming schedule</a></h3>
<!-- <h3><a href="/show">Show your previous workouts</a></h3> -->
<h3><a href="/edit">Add a new completed workout</a></h3>

<p><a href="/logout">Log Out</a></p>
